apiVersion: v1
kind: ConfigMap
metadata:
  name: consul
data:
  config.json: |-
    {
      "ca_file": "/etc/tls/ca.pem",
      "cert_file": "/etc/tls/consule.pem",
      "key_file": "/etc/tls/consul-key.pem",
      "verify_outgoing": true,
      "verify_incoming": true,
      "verify_server_hostname": true,
      "ports": {
        "https": 8443
      }
    }
